
/**
* Set background image and font specifications
*/
body {
   background-image:url('../images/background/background_image.jpeg');
   font-family:verdana;
   font-size:20px;
   color:white;
   text-shadow:1px 1px 2px black;
}

/**
* overwrie foundation styles
*/
a {
   font-size:16px;
   color:white;
   text-shadow:1px 1px 2px black;
}
a:hover {
   color:white;
}
label {
   font-family:verdana;
   font-size:20px;
   color:white;
   text-shadow:1px 1px 2px black;
}
table thead {
   border:none;
   background:transparent;
   border-bottom:white 1px solid;
   font-faily:verdana;
}
table thead th {
   color:white;
   text-shadow:1px 1px 2px black;
   background:transparent;
   text-align:center;
   color:white;
   font-size:14px;
   text-shadow:1px 1px 2px black;
   font-faily:verdana;
}
table tbody {
   border:none;
}
td {
   text-align:center;
   font-size:14px;
   color:white;
   background:none;
   text-shadow:0px 0px 2px black;
   font-faily:verdana;
}
tbody tr:hover {
   background:rgba(139, 218, 91, 0.36) !important;
   cursor:pointer;
}
table tbody {
   background-color:rgba(80, 80, 80, 0.4);
   background-blend-mode: multiply;
}
table tbody tr:nth-child(even) {
   background-color: rgba(75, 75, 75, 0.4);
   background-blend-mode: multiply;
}


/**
* Inexor main logo
*/
#inexor_logo {
   position:absolute;
   left:50%;
   top:50%;
   width:600px;
   height:184px;
   margin-top:-380px;
   margin-left:-300px;
}

/**
*
*/
#beta_decline {
   position:absolute;
   left:10px;
   top:10px;
   color:red;
   word-spacing:0px;
   width:500px;
}

/**
* main frame classes
*/
.inexor_centered_frame {
   position:absolute;
   left:50%;
   top:50%;
   width:900px;
   height:500px;
   margin-left:-450px;
   margin-top:-150px;
   border:white 1px solid;
   background:rgba(0, 0, 0, 0.9);
}
.inexor_big_centered_frame {
   position:absolute;
   left:50%;
   top:50%;
   width:1400px;
   height:800px;
   margin-left:-700px;
   margin-top:-400px;
   border:white 1px solid;
   background:rgba(0,0,0, 0.9);
}


#inexor_about_window,
#inexor_options_window,
#inexor_server_browser,
#inexor_dev_blog,
#inexor_loadmap,
#inexor_hostserver
{
   display:none; /*do not show this in the beginning*/
}

.inexor_slider {
   width:100%;
}

/**
* buttons
*/
.inexor_button {
   font-size:20px;
   color:white;
   cursor:pointer;
   margin:4px;
   word-spacing:10px;
   letter-spacing:2px;
   line-height:50px;
   padding:0px;
   width:230px;
   height:50px;
   padding-left:10px;
}
.inexor_button:hover {
   background:rgba(255,255,255,0.2);
   text-shadow:1px 1px 3px black,1px 1px 3px black;
}
.inexor_small_button {
   width:100px;
   padding-left:0px;
   text-align:center;
}

#inxor_profile_picture {
   margin:0px 0px 10px 10px;
}

#inexor_nickname,
#inexor_teamtag
{
   margin-left:10px;
   margin-top:10px;
   height:40px;
}

#inexor_mainmenu_right {
   margin:50px 0px 0px 500px;
   width:200px;
}

.inexor_inner_padding {
   padding:30px;
   font-size:16px;
   max-width:100%;
}

/**
* button field
*/
.inexor_button_field {
   position:absolute;
   left:0px;
   top:0px;
   width:200px;
}


.inexor_text {
   font-size:20px;
   color:white;
   margin:4px;
   word-spacing:10px;
   letter-spacing:2px;
   line-height:50px;
   text-shadow:1px 1px 4px black;
   padding:0px;
   width:200px;
   height:50px;
}

.button_back_to_main_menu {
   position:absolute;
   left:50%;
   top:100%;
   width:90px;
   height:50px;
   margin-left:-45px;
   margin-top:-80px;
}

.tabs {
   margin:0px;
   padding:0px;
   background-color:transparent;
   border:none;
}

.tabs-title > a:hover {
   background:rgba(132, 132, 132, 0.4);
   border-bottom:white 1px solid;
}

.tabs-content {
   border:0px;
   background-color:transparent;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
   background:rgba(255,255,255, 0.3);
   border-bottom:rgba(255, 255, 255, 0.5) 1px solid;
}
