body {
   background-image:url('../images/background/background_image.jpeg');
   font-family:verdana;
   font-size:20px;
   color:white;
   text-shadow:1px 1px 2px black;
}

a {
   font-size:16px;
   color:white;
   text-shadow:1px 1px 2px black;
}
a:hover {
   color:white;
}

label {
   font-size:16px;
   color:white;
   text-shadow:1px 1px 2px black;
}

#inexor_about_window, #inexor_options_window, #inexor_server_browser {
   display:none; /*do not show this in the beginning*/
}

#inexor_logo {
   position:absolute;
   left:50%;
   top:50%;
   width:600px;
   height:184px;
   margin-top:-380px;
   margin-left:-300px;
}

.inexor_centered_frame {
   border:rgba(255, 255, 255, 0.6) 1px solid;
   position:absolute;
   left:50%;
   top:50%;
   width:800px;
   height:500px;
   margin-left:-400px;
   margin-top:-150px;
   background-color:rgba(0,0,0, 0.8);
   box-shadow:0px 0px 200px 100px rgb(0, 0, 0) inset, 0px 0px 25px 4px rgb(0, 0, 0);
   /*
   background-image:url('../images/logo/logo_new.png');
   background-position:center 50px;
   background-repeat:no-repeat;
   */
}

.inexor_big_centered_frame {
   border:rgba(255, 255, 255, 0.5) 1px solid;
   position:absolute;
   left:50%;
   top:50%;
   width:1400px;
   height:800px;
   margin-left:-700px;
   margin-top:-400px;
   background-color:rgba(0,0,0, 0.8);
   box-shadow:0px 0px 200px 100px rgb(0, 0, 0) inset, 0px 0px 25px 4px rgb(0, 0, 0);
}

.inexor_button {
   font-size:20px;
   color:white;
   cursor:pointer;
   margin:4px;
   word-spacing:10px;
   letter-spacing:2px;
   line-height:50px;
   text-shadow:1px 1px 2px black;
   padding:0px;
   width:200px;
   height:50px;
   text-align:center;
}

.inexor_small_button {
   width:100px;
}

.inexor_button:hover {
   background-color:rgba(255,255,255,0.5);
}

#inexor_main_menu_button_area {
   margin:50px 0px 0px 20px;
   position:absolute;
   left:0px;
   top:0px;
   width:200px;
}

#inexor_about_text {
   padding:30px;
}

.button_back_to_main_menu {
}

.tabs {
   margin:0px;
   padding:0px;
   background-color:transparent;
   border:none;
}

.tabs-title > a:hover {
   background:rgba(132, 132, 132, 0.4);
   border-bottom:white 1px solid;
}

.tabs-content {
   border:0px;
   background-color:transparent;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
   background:rgba(255,255,255, 0.3);
   border-bottom:rgba(255, 255, 255, 0.5) 1px solid;
}

table thead {
   border:none;
   background:transparent;
   border-bottom:rgba(255, 255, 255, 0.5) 1px solid;
   font-faily:verdana;
}

table thead th {
   color:white;
   text-shadow:1px 1px 2px black;
   background:transparent;
   text-align:center;
   color:white;
   font-size:14px;
   text-shadow:1px 1px 2px black;
   font-faily:verdana;
}

table tbody {
   border:none;
}

td {
   text-align:center;
   font-size:14px;
   color:white;
   background:none;
   text-shadow:0px 0px 2px black;
   font-faily:verdana;
}

table tbody {
   background-color:rgba(80, 80, 80, 0.4);
   background-blend-mode: multiply;
}

table tbody tr:nth-child(even) {
   background-color: rgba(75, 75, 75, 0.4);
   background-blend-mode: multiply;
}

hr {

}
