body {
   background-image:url('../images/background/background_image.jpeg');
   font-family:verdana;
   font-size:20px;
   color:white;
   text-shadow:1px 1px 2px black;
}

#inexor_about_window, #inexor_options_window {
   display:none; /*do not show this in the beginning*/
}

#inexor_logo {
   position:absolute;
   left:50%;
   top:50%;
   width:600px;
   height:184px;
   margin-top:-350px;
   margin-left:-300px;
}

.inexor_centered_frame {
   position:absolute;
   left:50%;
   top:50%;
   width:800px;
   height:500px;
   margin-left:-400px;
   margin-top:-150px;
   background-color:rgba(0,0,0, 0.8);
   box-shadow: 0px 0px 30px 10px black inset;
   /*
   background-image:url('../images/logo/logo_new.png');
   background-position:center 50px;
   background-repeat:no-repeat;
   */
}

.inexor_button {
   font-size:20px;
   color:white;
   cursor:pointer;
   margin:4px;
   word-spacing:10px;
   letter-spacing:2px;
   line-height:50px;
   text-shadow:1px 1px 2px black;
   padding:0px;
   width:200px;
   height:50px;
   text-align:center;
}

.inexor_small_button {
   width:100px;
}

.inexor_button:hover {
   background-color:rgba(255,255,255,0.5);
}

#inexor_main_menu_button_area {
   margin:50px 0px 0px 20px;
   position:absolute;
   left:0px;
   top:0px;
   width:200px;
}

#inexor_about_text {
   padding:30px;
}

.button_back_to_main_menu {

}
