/* ========================================
LAYOUT
* The Layout contains a set of configurations
* Other than assigning classes to your markup, you assign your style to your html.
* should contain very basic theming
======================================== */

/*  ========================================
    SURROUNDINGS (header, footer, no content)
    ======================================== */


/*  ========================================
    CONTENT
    ======================================== */


/*  ========================================
    FORMS
    ======================================== */


/*  ========================================
    COMPONENTS that are not componified
    ======================================== */

ul.breadcrumbs
{
    padding: 0;
    margin: 0;
    display: flex;

    li
    {
        margin: 0;
        list-style: none;
        max-width: 20em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:not(:last-child):after {
            content: ">";
            padding: 0 .25em;
        }
    }
}

a.button {
    .button(@color-primary, full);
}
